<div class="eqLogic-widget eqLogic spotify-control" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
    <style>
        .eqLogic.spotify-control {
            background-color: #19bc9c;
            max-height: 200px;
        }

        .spotify-control-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            padding: 0 2rem 1rem 2rem;
        }
        .spotify-control-title {
            font-size: 1.5em;
            margin: 0 0 2rem;
            text-align: center;
            width: 100%;
        }

        .spotify-control-actions {
            display: flex;
            justify-content: center;
        }
        .spotify-control-actions .btn {
            margin: 0 0.2rem;
        }

        .spotify-devices {
            display: flex;
            flex-direction: column;
        }
        .spotify-device-list {
            display: flex;
            justify-content: center;
        }

        .spotify-control .btn {
            text-shadow: none;
        }
        .spotify-control .btn.btn-spotify-device {
            margin: 0 1rem;
        }
        .spotify-control .btn.btn-spotify-device-active {
            background-color: white;
            color: #333232 !important;
        }
    </style>

    <div class="spotify-control-content">
        <span class="widget-name spotify-control-title">
            <a href="#eqLink#">#name#</a>
        </span>
        <div class="spotify-control-actions">
            <button class="btn btn-spotify-play" data-cmd_id="#play_id#"><i class="fa fa-play" aria-hidden="true"></i></button>
            <button class="btn btn-spotify-pause" data-cmd_id="#pause_id#"><i class="fa fa-pause" aria-hidden="true"></i></button>
            <button class="btn btn-spotify-next" data-cmd_id="#next_id#"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
        </div>
        <div class="spotify-devices">
            <span class="spotify-devices-title">Appareils :</span>
            <div class="spotify-device-list"></div>
        </div>
    </div>

    <script type="text/javascript">
        if (!window.spotifyControl) {
            window.spotifyControl = {};
        }
        window.spotifyControl.devices = #devices#.devices;
        window.spotifyControl.devices.forEach(device => {
            const deviceElement = document.createElement('button');
            deviceElement.innerHTML = device.name;
            deviceElement.classList.add('btn');
            deviceElement.classList.add('btn-spotify-device');
            if (device.is_active === true) {
                deviceElement.classList.add('btn-spotify-device-active');
            }
            deviceElement.setAttribute('data-cmd_id', #changeDeviceAndPlay_id#);
            deviceElement.setAttribute('data-device_id', device.id);
            document.querySelector('.spotify-device-list').appendChild(deviceElement);
        });

        $('.btn').click(function() {
            const btn = $(this);
            const cmd = btn.data('cmd_id');
            if (cmd) {
                const options = { id: cmd, value: {} };
                if (btn[0].hasAttribute('data-device_id')) {
                    options.value.slider = btn.data('device_id');
                }
                jeedom.cmd.execute(options);
            }
        });
    </script>
</div>
