<div class="eqLogic-widget eqLogic" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="min-height: 300px;">
    <link rel="stylesheet" href="plugins/spotifyControl/core/template/css/style.css" />

    <div class="spotify-control">
        <span class="widget-name spotify-control-title">
            <a href="#eqLink#">#name#</a>
        </span>
        <div class="spotify-control-track">
        </div>
        <div class="spotify-control-actions">
            <button class="btn btn-spotify-play" data-cmd_id="#play_id#"><i class="fa fa-play" aria-hidden="true"></i></button>
            <button class="btn btn-spotify-pause" data-cmd_id="#pause_id#"><i class="fa fa-pause" aria-hidden="true"></i></button>
            <button class="btn btn-spotify-next" data-cmd_id="#next_id#"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
        </div>
        <div class="spotify-devices">
            <span class="spotify-devices-title">Appareils :</span>
            <div class="spotify-device-list"></div>
        </div>
    </div>

    <script type="text/javascript">
        if (!window.spotifyControl) {
            window.spotifyControl = {};
        }

        // user's devices
        window.spotifyControl.devices = #devices#.devices;
        window.spotifyControl.devices.forEach(device => {
            const deviceElement = document.createElement('button');
            deviceElement.innerHTML = device.name;
            deviceElement.classList.add('btn');
            deviceElement.classList.add('btn-spotify-device');
            if (device.is_active === true) {
                deviceElement.classList.add('btn-spotify-device-active');
            }
            deviceElement.setAttribute('data-cmd_id', #changeDeviceAndPlay_id#);
            deviceElement.setAttribute('data-device_id', device.id);
            document.querySelector('.spotify-device-list').appendChild(deviceElement);
        });

        // current track
        window.spotifyControl.currentTrack = #currentTrack#;
        trackElement = document.createElement('img');
        trackElement.setAttribute('height', 140);
        trackElement.setAttribute('src', window.spotifyControl.currentTrack.item.album.images[0].url);
        document.querySelector('.spotify-control-track').innerHTML = '';
        document.querySelector('.spotify-control-track').appendChild(trackElement);

        // cmd handlers
        $('.btn').click(function() {
            const btn = $(this);
            const cmd = btn.data('cmd_id');
            if (cmd) {
                const options = { id: cmd, value: {} };
                if (btn[0].hasAttribute('data-device_id')) {
                    options.value.slider = btn.data('device_id');
                }
                jeedom.cmd.execute(options);
            }
        });
    </script>
</div>
